@import "../../styles/variables.scss";

.card {
    width: 12rem;
    background-color: transparent;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        border: $fore-color solid 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px $fore-color !important;

        border-radius: 12px
    }
    .card-img-top {
        cursor: pointer;
        border-radius: 12px 12px 0 0;
        z-index: 1;
    }
    .card-title {
        font-size: 16px;
        margin: 6px 0;
    }
    .card-text {
        font-size: 12px;
        margin: 0;
    }
    .card-body {
        position: relative;
        background-color: lighten($bg-color, 10%);
        border-radius: 0 0 12px 12px;
        padding: 1rem;
    }

    .fav-btn {
        position: absolute;
        top: 0.3rem;
        right: 0.2rem;
    }
}
